*{
    font-family:Roboto ;
    
}
p{
    color: 
    #505F98;
    font-size: 18px;
    
}


 



/* CSS FOR NAV */
button{
    cursor: pointer;
}


ul{
display: flex;
gap : 50px;
color: #505F98;
}


.nav{
display: flex;
gap : 260px;
align-items: start;
justify-content: center;
}

button{
    background-color:  #111B47;
    
    color: white;
    width: 160px;
    height: 26px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    }

    li{
        text-decoration: none;
        list-style: none;
        color: #505F98;
        font-size: 14px;
        }
        
        
        a{
        text-decoration: none;
        color:#505F98;
        }

        .button1{
            margin-top: 15px;
            margin-left: 90px;
            width: 160px;
            height: 26px;

        }
        .Landing-Text{
            padding-right: 40px;
            color: #37447E;
            font-size: 26px;
            margin-top: -25px;
        }


    
    /* END OF CSS FOR NAV */




    /* CSS FOR THE INFO-AREA */
.Info-Area{
    margin-top: 130px;
    margin-left: 115px;
    position: relative;
}
.image1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1; 
   height: 730px;
   width: 730px;
   gap: 0px;
   opacity: 0.5px;
   }
   
   #intro-product{
    width: 539px;
     height: 100px;
    font-size: 50px; 
         color: #091133;}


    #purchase{

        width: 189px;
        height: 36px;
        color: white;
         }

    #learn-more{
        width: 189px;
       height: 36px;
      gap: 10px;
     border: 2px solid;
     border-color: #091133;
     color: #091133;
     background-color: white;
     border-color: #091133;


    }
    .buttons2{
        display: flex;
        gap: 20px;
        padding-top: 20px;
    }

    /* #purchase{

width: 189px;
height: 36px;
color: white;
 } */

/* END OF CSS CODE FOR INFO AREA */





/* PAGE NO.2 */

.section-pg-2{
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
   
    
   }
   .under-info{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    
    
   }
    
   
   #img-2 {
    position: absolute;
    bottom: 400;
    right: 0;
    z-index: -1; 
   height: 540px;
   width: 520px;
   gap: 0px;
   opacity: 0.5px;
   padding-top: 100px;
   
   /* margin-bottom: 11100px; */
   }

   
   /* .page-2{
    display: flex;
    flex-direction: row-reverse;
   } */

.p-page1{
   color: #5D6970;
   font-size: 12px;
   }

.info-page2{
    margin-top: 250px;
}
.section-pg-2{
    height: 800px;
}

#pg2-p{
    font-size: 16px;
}
#pg2-h1{
    font-size: 36px;
}
.icons{
    width: 36px;
    height: 36px;
}
/* PAGE 2 CSS END */





/* PAGE 3 START */
.img-pg-3{
    width: 480px;
    height: 316px;
}
.section-div-3{
    display: flex;
    align-content:flex-start;
    align-items:center;
    margin-left:50px;
}

#section-3-h1{
    font-size: 36px;
}
.section-3-p{
    font-size: 16px;
}
.text-pg-3{
    padding-left: 150px;
}
.section-pg-3{
    height: 500px;
    margin-top: 100px;
    /* align-content:flex-start; */
}
/* PAGE 3 END */



/* PAGE 4 START */
.img-pg-4{
    Width:540px;
    Height:387px;
}

/* PAGE 4 END */

/* PAGE 5 START */

.img-pg-5{
    Width:445px;
    Height:312px;
}
.section-text-5 button{
    Width:150px;
Height:32px;
size: 14px;
margin-top: 20px;
}

/* PAGE 5 END */




/* PAGE 6 START */
/* .Rectangle{
    
    align-self: center;
    width: 100%;
    z-index: -1;

}

.text-6 h1{
    align-self: center;
  
}
.container-6{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.section-6 {
    position: relative;
    height: 100vh; 
  }
  
  .container-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section-6 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .text-6 h1{
    font-size: 36px;
  }
  .text-6 p{
    font-size: 16px;
  }
.price-6 h1{
    font-size: 50px;
}
.price-6 p{
    font-size: 16px;
}
.purchase-6 p{
    font-size: 14px;
    color: #5D6970;
}
