*{
    font-family:Roboto ;
}
/* CSS FOR NAV */
button{
    cursor: pointer;
}


ul{
display: flex;
gap : 50px;
color: #505F98;
}


.nav{
display: flex;
gap : 260px;
align-items: start;
justify-content: center;
}

button{
    background-color:  #111B47;
    
    color: white;
    width: 160px;
    height: 26px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    }

    li{
        text-decoration: none;
        list-style: none;
        color: #505F98;
        }
        
        
        a{
        text-decoration: none;
        color:#505F98;
        }

        .button1{
            margin-top: 20px;
            margin-left: 90px;
        }
        .Landing-Text{
            padding-right: 40px;
        }

    
    /* END OF CSS FOR NAV */